<app-nav-bar></app-nav-bar>

<!-- product-details.component.html -->

<div class="container product-details" style="min-height: 80vh">
  <div class="row w-100">
    <div class="col-lg-6">
      <!-- Product Image -->
      <img
        [src]="selectedImageUrl || defaultImageUrl"
        alt="{{ product.title }}"
        class="img-fluid w-100"
        style="height: 25em"
      />

      <div class="row mt-3">
        @for (item of product.images; track $index) {

        <img
          [src]="item"
          class="col-4 mt-2"
          alt=""
          style="height: 4em; cursor: pointer"
          (click)="handelImageSelection($event)"
        />
        }
      </div>
    </div>
    <div class="col-lg-6">
      <!-- Product Details -->
      <h2>{{ product.title }}</h2>
      <p class="text-muted">{{ product.category.title }}</p>
      <p>{{ product.description }}</p>

      <!-- Rating Stars (assuming a 5-star rating) -->
      <div class="rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>

      <!-- Product Price -->
      <div class="row">
        <h4 class="mt-4 col-6">Price: ${{ product.price }}</h4>
        <h6 class="mt-4 col-6">discount: ${{ product.dicount }}%</h6>
        <h6 class="col-6"></h6>
        <h6 class="col-6">category: ${{ product.category.title }}</h6>
        <p class="col-6" *ngIf="!isAdmin">
          Total Price: ${{ price | discount : product.dicount }}
        </p>
      </div>

      @if (isAdmin == true || isAdmin == "true") {
      <div class="row justify-content-between">
        <button
          class="btn btn-primary mt-3 col-md-5"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          (click)="handleUpdateBtn(product)"
        >
          Update
        </button>
        <button
          class="btn btn-danger mt-3 col-md-5"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdropDelete"
          (click)="handleDeleteBtn(product)"
        >
          Delete
        </button>
      </div>

      }@else {
      <!-- Quantity Input Field
      <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input
          type="number"
          id="quantity"
          class="form-control"
          value="1"
          min="1"
          (input)="handlePrice($event)"
        />
      </div> -->
      <!-- Add to Cart Button -->
      <button class="btn btn-primary" (click)="handleAddToCart(product._id)">
        Add to Cart
      </button>
      }

      <!-- On Sale badge -->
      <span class="badge badge-danger" *ngIf="product.onSale">On Sale</span>
    </div>
  </div>
</div>

<!----- Slider-->
<!-- 
<div class="container mb-5 w-50" *ngIf="product.images.length">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      @for (item of product.images; track $index) {
      <div class="carousel-item active">
        <img [src]="item" class="d-block w-100 slide-img" alt="..." />
      </div>
      }
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

-->
<app-update-product-form [product]="updatProduct"></app-update-product-form>
<app-deleate-model [product]="deleteProduct"></app-deleate-model>

<app-footer></app-footer>
