<!-- Footer -->
<footer class="footer mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Information</h5>
        <ul class="list-unstyled">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>Email: ibrahimismail00000&commat;.com</p>
        <p>Phone: +1 (123) 456-7890</p>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <!-- Add your social media icons or links here -->
        <a href="#" class="mr-5"><i class="fab fa-facebook"></i></a>
        <a href="#" class="mr-5"><i class="fab fa-twitter"></i></a>
        <a href="#" class="mr-5"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
